* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    overflow-x: hidden;
}

.logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
    width: 405px;
}

.tela1, .tela2, .tela3, .tela4 {
    position: relative;
    width: 100%;
    min-height: 100vh;
}

.gif-demo1 {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.tela1::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: radial-gradient(circle, rgba(0, 0, 0, 0) 30%, rgba(0, 0, 0, 0.8) 100%);
    z-index: 1;
    pointer-events: none;
}

.tela2 {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-color: red;
    height: 105vh;
    position: relative;
}

.gif-demo2 {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.texto {
    position: absolute;
    left: 0;  
    top: 50%;  
    transform: translateY(-50%); 
    color: white; 
    padding: 20px;
    font-size: 1.5rem;
    max-width: 50%;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.6);
}

.tela3 {
    background-color: #27211F;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.tela4 {
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    p {
        color: white;
    }
}

.creditos {
    display: flex;
    justify-content: center;
    align-items: center;
    p {
        font-size: 20px;
    }
}

.criador-img {
    width: 35%;
    border-radius: 50%;
    padding: 5px;
}

.criador {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    p {
        background-color: #27211F;
        border-radius: 15px;
        padding: 5px;
    }
}

.logo-unity {
    width: 20%;
}

.classe {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    width: 80%;
    height: auto;
    border-style: dotted;
    border: 2px solid rgba(128, 128, 128, 0.1);
    p {
        color: white;
        font-size: 20px;
    }
}

.print {
    width: 50%;
    max-width: 540px;
    height: 50%;
    padding: 0 20px;
}

@media (max-width: 768px) {
    .classe1, .classe2, .classe3 {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        margin-top: 15px;
        margin-bottom: 15px;
        img {
            width: 100%;
            margin-bottom: 5px;
        }
        p {
            width: 80%;
        }
    }
    .logo-unity {
        width: 60%;
    }
    .criador-img {
        width: 50%;
        border-radius: 50%;
        padding: 5px;
    }
}